<div class="uk-section uk-section-small" style="background:#6CB00B">
    <div class="uk-container">
        <div class="uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-1-2 uk-white">
                <h2 class="uk-white uk-text-bold uk-margin-remove">Get in touch</h2>
                <p class="uk-margin-remove">Our team of professionals are ready to help</p>
            </div>
            <div class="uk-width-1-2 uk-text-right">
                <a href="/contact" class="uk-button uk-button-secondary">Contact us</a>
            </div>
        </div>
    </div>
</div>