<footer class="footer">
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-1-2@s uk-grid-large footer-text">
                    <div>
                        <h1 class="uk-white uk-text-bold">Get In <span class="uk-text-weight-feather">Touch</span></h1>
                        <div class="line"></div>
                    </div>
                    <div class="contact-info uk-margin-large-top uk-margin-medium-bottom">
                        <p class="uk-white uk-margin-remove"><strong>Email</strong></p>
                        <p class="uk-margin-remove"><a href="mailto:{{ .Site.Data.profile.contact_information.email }}">{{ .Site.Data.profile.contact_information.email }}</a></p>
                        <br>
                        <p class="uk-white uk-margin-remove"><strong>Phone</strong></p>
                        <p class="uk-margin-remove"><a href="tel:{{ .Site.Data.profile.contact_information.phone }}">{{ .Site.Data.profile.contact_information.phone }}</a></p>
                    </div>
                </div>
                <div class="footer-form uk-width-expand@s uk-width-1-2@s">
                    <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small" uk-grid action="/thank-you">
                        <input name="bot-field" type="hidden" />
                        <input type="hidden" name="Subject" value="Website Contact Form">
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" placeholder="Name" name="Name">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" placeholder="Phone" name="Phone">
                        </div>
                        <div class="uk-width-1-1">
                            <input class="uk-input" type="text" placeholder="Email" name="Email">
                        </div>
                        <div class="uk-width-1-1">
                            <textarea class="uk-textarea" rows="5" placeholder="Your Message" name="Message"></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-button uk-button-secondary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="uk-section uk-section-small">
                <div class="uk-grid">
                    <div class="uk-width-1-2@s">
                        <p class="uk-light uk-text-small">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }}  &middot; <a href="https://hungryram.com" target="_blank">Website Developed by Hungry Ram</a></p>
                        <ul class="hr-legals uk-padding-remove">
                            {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                            <li class="uk-light uk-text-small"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            {{ end }}
                          </ul>
                    </div>
                    <div class="uk-width-1-2@s uk-text-right">
                        {{ if .Site.Data.profile.social_media.instagram }}<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>{{ end }}
                        {{ if .Site.Data.profile.social_media.facebook }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>{{ end }}
                        {{ if .Site.Data.profile.social_media.pinterest }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="pinterest"></a>{{ end }}
                        {{ if .Site.Data.profile.social_media.twitter }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="twitter"></a>{{ end }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
</body>
</html>