<div class="uk-section uk-section-small">
    <div class="uk-grid-collapse uk-child-width-expand@m uk-text-center uk-margin-large-top" uk-grid>
        <a href="/services/gardening/">
            <div class="hr-featured" style="background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/uploads/gardening.jpg') no-repeat center;background-size:cover;">
                <div class="uk-light">
                    <h3 class="uk-text-bold">Gardening</h3>
                    <p>Our garden services provides full and comprehensive services in irrigation and garden management. We provide our customers with quality plants and trees at an affordable price.</p>
                </div>
            </div>
        </a>
        <a href="/services/tree-service/">
            <div class="hr-featured" style="background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/uploads/lawncare.jpg') no-repeat center;background-size:cover;">
                <div class="uk-light">
                    <h3 class="uk-text-bold">Tree Services</h3>
                    <p>Tree removal and trimming services are one of our many specialties at Landscaping Tecpoyotl. We work with residential and commercial properties and have high referrals for our quality work.</p>
                </div>
            </div>
        </a>
        <a href="/services/junk-removal/">
            <div class="hr-featured" style="background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/uploads/backyard.jpg') no-repeat center;background-size:cover;">
                <div class="uk-light">
                    <h3 class="uk-text-bold">Junk Removal</h3>
                    <p>Keep your property organized and clean? We offer full-service junk removal. Our crew of professionals are hardworking and will take away any junk from your property.</p>
                </div>
            </div>
        </a>
        
    </div>
</div>