<div class="uk-cover-container uk-position-relative uk-flex uk-flex-middle uk-flex-center" uk-height-viewport>
    <div class="uk-position-top" style="z-index: 1;">
        {{ partial "global/navbar" . }}
    </div>
    <video src="https://hungryram.s3-us-west-1.amazonaws.com/Zayde+Wolf+-+Reimagined+-+Dustin+Ortiz.mp4" autoplay loop muted playsinline uk-cover></video>
        <div class="uk-position-relative uk-width-xlarge uk-text-center hero-container" style="z-index: 1;">
            <h1 class="uk-white text-medium">FILMMAKER, PHOTOGRAPHER, CONTENT <span class="uk-text-weight-feather">STRATEGY</span></h1>
            <div class="line"></div>
            <p>A digital agency specialising in the creation of quality content and videos</p>
            <div class="hero-cta">
                <a href="">Free Quote<img src="/assets/chev-right.svg" alt="chevron-right" width="30"></a>
            </div>
        </div>
    <div class="black-overlay"></div>
</div>

