<div class="uk-cover-container uk-flex uk-flex-middle uk-flex-center" uk-height-viewport>
    <div class="uk-position-top" style="z-index: 1;">
        {{ partial "global/navbar" . }}
    </div>
    <video src="https://hungryram.s3.us-west-1.amazonaws.com/marqos-maldonado/topmarqmedia/zayde.mp4" autoplay loop muted playsinline uk-cover></video>
    <div class="black-overlay"></div>

        <div class="uk-width-xlarge uk-text-center hero-container" style="z-index: 0">
            <h1 class="uk-white text-medium">FILMMAKER | PHOTOGRAPHER CONTENT <span class="uk-text-weight-feather">STRATEGY</span></h1>
            <div class="line"></div>
            <p>{{ .Site.Data.appearance.hero.body }}</p>
            <div class="hero-cta">
                <a href="/contact">Free Quote<img src="/assets/chev-right.svg" alt="chevron-right" width="30"></a>
            </div>
        </div>
</div>

