<div class="uk-section-primary uk-preserve-color uk-cover-container" uk-height-viewport style="background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('uploads/splash3.jpg') no-repeat center; background-size:cover">

{{ partial "global/navbar" . }}

    <div class="uk-section uk-section-large uk-margin-medium-top">
        <div class="uk-container">
            <div class="uk-grid-large uk-flex uk-flex-middle" uk-grid>
                <div class="hero-text uk-light uk-width-3-5@s">
                    <h4 class="uk-text-bold">Free Estimates and Fair Prices</h4>
                    <h1 class="uk-text-bold heading uk-margin-remove">Professional Tree Lanscaping Services</h1>
                    <p class="uk-text-normal">Serving all of Orange County, Inland Empire, and San Bernardino County. We focus on safety and treat your landscaping as if it were our own</p>
                    <a href="/contact" class="uk-button-secondary uk-button">Free Estimate</a>
                </div>
                <div class="uk-margin-auto uk-width-expand@s">
                    <div class="hero-form uk-padding uk-text-center">
                        <h3 class="uk-text-bold">Send an Inquiry</h3>
                        <form class="uk-form-stacked" name="Website Contact Form" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/thank-you">
                            <input name="bot-field" type="hidden"/>
                            <div class="uk-margin-small-bottom">
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Name" name="name">
                                </div>
                            </div>

                            <div class="uk-margin-small-bottom">
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="form-stacked-text" type="tel" placeholder="Phone" name="phone">
                                </div>
                            </div>
                        
                            <div class="uk-margin-small-bottom">
                                <div class="uk-form-controls">
                                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="Email" name="email">
                                </div>
                            </div>
                        
                            <div class="uk-margin-small-bottom">
                                <div class="uk-form-controls">
                                    <textarea class="uk-textarea" rows="5" placeholder="Your Message" name="message"></textarea>
                                </div>
                            </div>
                            <div class="uk-margin-small-bottom">
                                <div class="uk-form-controls">
                                    <button class="uk-button uk-button-primary uk-width-1-1">Submit Inquiry</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
