<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-middle">
            <div class="uk-width-1-2@s uk-margin-medium-bottom">
                <div>
                    <h2 class="uk-text-bold">Offering <span class="accent">Full Service Landscape Care</span> and Management in Orange County, Inland Empire, and San Bernardino County</h2>
                    <p>We maintain healthy and beautiful trees on your property. Our service is reasonable, reliable, and fully insured. Landscaping Tecpoyotl gives the attention to detail and personal service your landscape deserves. Every property whether residential or commercial needs to be maintained to keep a beautiful presentation for your properties and businesses. We pay special attention to the details of every project to ensure complete satisfaction of our clients.</p>
                    <a href="/contact" class="uk-button uk-button-primary">Learn More</a>
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-text-center">
                    <img src="/uploads/nice-backyard.jpg" alt="green backyard" width="500">
                </div>
            </div>
        </div>
    </div>
</div>