{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-2@s">
                <h5 class="uk-white uk-margin-remove">Contact Top Marq Media</h5>
                <h2 class="uk-text-bold uk-white uk-margin-remove" style="font-size:3rem">Ready to start a project?</h2>
                <p>{{ .Params.body }}</p>
                <ul class="uk-list contact-list">
                    <li><a href="mailto:{{ .Site.Data.profile.contact_information.email }}" class="uk-white"><span class="uk-text-middle">{{ .Site.Data.profile.contact_information.email }}</span></a></li>
                    <li><a href="tel:{{ .Site.Data.profile.contact_information.phone }}" class="uk-white"><span class="uk-text-middle">{{ .Site.Data.profile.contact_information.phone }}</span></a></li>
                  </ul>
                {{ if .Site.Data.profile.social_media.instagram }}<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.facebook }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.pinterest }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="pinterest"></a>{{ end }}
                {{ if .Site.Data.profile.social_media.twitter }}<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="twitter"></a>{{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}